.title{
	font-size:300%;
	padding-top:15px;
	color:#B22222;
	font-family: 'Milonga', cursive;
}
.headIcon{
	max-height:100px;
	max-width:100%;
	padding:0px;
	border:none;
}
.headCol{
	height:100px;
	width:100%;
	outline: 5px solid black;
}
.selectionArea {
	margin-bottom:20px;
}
.insideSelection {
	height:50px;
	background-color:#515a5a;
}
.noPad {
	padding-right:0px !important;
	padding-left:0px !important;
}
.cardFormat {
	margin:0px 1% 1% 1%;
	max-height:340px;
	max-width:244px;
}

* {
	background-color:darkgray;
}

body {
	min-width: 500px; 
	margin: 0 auto;
}
.right_side{
	text-align: right;
	padding: .5rem;
}

.right_side table{
	float: right;
}